.display {
  margin-top: 290px;
  margin-left: 140px;
}
.display p {
  font-size: 20px;
}
.display h1{
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 2px;

}
.bgimgforgot {
    /* background-image: url(${background}); */
    background-image: url("/public/img123.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }
  .makeStyles-paper-2 h1 {
    font-size: 36px;
    font-weight: bold;
}
.makeStyles-paper-8 h1 {
  font-weight: bold;
  font-size: 36px;
 
}

.makeStyles-paper-8 p1 {
  font-size: 17px;
}
@media screen and (max-width: 1531px) {
  .display{
    margin-left: 76px !important;
}
}

  @media screen and (max-width: 1400px) {
    .display {
      margin-left: 15px !important;
  }
  }
 
  @media screen and (max-width: 1232px) {
    .display {
      margin-left: 3px !important;
  }
  .display p {
    font-size: 17px;
  }
  
  }

  @media screen and (max-width: 959px) {
    .bgimgforgot {
      background-image: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgb(18,26,69) 0%,
        rgb(18,26,69) 50%,
        #fff 50%,
        #fff 100%
      );
    }
    .display p {
      font-size: 20px;
    }
    .sports-app {
      margin-top: 133px;
    }
      .display{
        margin-top:193px;
    }
    .MuiGrid-container {
        width: 100%;
        display:grid !important;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .makeStyles-paper-2 {
    margin-left: 5px !important;
}
    }
