
.WidgetLg {
    margin-bottom: 85px;
    background-color: white;
}
.search {
    color: black;
    position: relative;
    margin-right: 16px;
    border-radius: 25px;
}
.MuiFormHelperText-root.Mui-error{
    margin: 0 !important;
}
.searchIcon {
top: 0px;
height: 100%;
display: flex;
padding: 0px 144px;
position: absolute;
align-items: center;
pointer-events: none;
justify-content: end;
}

.btn-logout{
    padding: 20px;
}


.btn-logout:hover{
    background-color: #232b58 !important;
    color: #fff;
    padding: 20px;
}

.add-btn:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  padding-right: 24px;
  padding-left:8px;
}

.add-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 20px;
    right: -20px;
    transition: 0.5s;
  }

.add-btn:hover:after {
    opacity: 1;
    right: 10px;
}

.btn-submit:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  padding-right: 24px;
  padding-left:8px;
}

.add-submit:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 20px;
    right: -20px;
    transition: 0.5s;
}

/* .profile-dummy-ico{
    font-size: 50px;
} */

.chooseFileButton{
    display: flex;
    width: 250px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.chooseFileButton2{
    display: flex;
    width: 250px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}